.headertag{
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    will-change: transform;
    transform: translateZ(0);
    transition: transform .3s ease;
    contain: size layout style;
    padding: 0 20px;
}
header {
    display: block;
}

.covering_anchortag{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

}

a, a:focus, a:hover, a:visited{
    text-decoration: none;
}

.anchortag {
    display: block;
    height: 49px;
    transition: transform .3s cubic-bezier(.215,.61,.355,1);
    margin-right: 16px;
}

.location {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
}

.locaSp .location {
    position: relative;
}

.locaSp{
    font-weight: 700;
    color: #3d4152;
    float: left;
}

.locFixed{
    text-transform: uppercase;
    border-bottom: 1px solid #686b78;
    line-height: 28px;
}


.point_location {
    display: block;
    min-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.point_location:hover{
    color: #fc8019;
    border-bottom: 1px solid #fc8019;

}

.point_exact_location{
    display: block;
    padding-left: 5px;
    margin-left: 5px;
    color: #686b78;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;

}

.arrow {
    position: absolute;
    left: 324px;
    -ms-transform: translateY(5%);
    transform: translateY(5%);
    font-size: 0.9rem;
    /* font-weight: 700; */
}

.arrow:hover{
    color: #fc8019;
    font-weight: 700;
}

